
# General
# -----------------------------------------------------------------------------
.idea/
.sonar/
.vagrant
atlassian-ide-plugin.xml
composer.phar
composer.lock

# Core
# -----------------------------------------------------------------------------
/index.php
/typo3
/typo3_src
/Packages/
/typo3conf/Documentation
/typo3conf/deprecation_*
/typo3conf/LocalConfiguration.php
/typo3conf/ENABLE_INSTALL_TOOL
/typo3conf/ext/installToolTest_*
/bin/
/vendor/

# Customer data
# -----------------------------------------------------------------------------
/fileadmin/
/typo3temp/
/uploads/

# Debug
# -----------------------------------------------------------------------------
/phpinfo.php
/info.php
/i.php
/tests/
/test/
/*.sh
/typo3conf/AdditionalConfiguration_custom.php
/typo3conf/ext/theme/Configuration/TypoScript/Custom/custom_constants.txt

# Extensions
# -----------------------------------------------------------------------------
/typo3conf/ext/news/
/typo3conf/ext/typo3_console/

# Deployment
# -----------------------------------------------------------------------------
/.mage/artifact
/.mage/logs/log-*